{% extends 'base.html.twig' %}

{% block title %}
	{{"messages.enpresa" | trans | capitalize}}
	{{"messages.ikusi" | trans | capitalize}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('enpresa_edit') }}
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('enpresa_edit') }}
{% endblock javascripts %}

{% block body %}
	<div class="container">
		<div class="row">
			<div id="enpresa_datuak" class="card margin-top-13 col-6">
				<div class="card-block col">
					<div class="text-center">
						<div id="enpresa_titulua" class="text-primary">{{"messages.enpresa" | trans | capitalize}}
							{{"messages.ikusi" | trans | capitalize}}</div>
						<hr class="mt-1 mb-1">
					</div>
					<div class="card-text">
						{{ include('admin/enpresa/_form.html.twig',{
				'gordeBotoia': true 
			    }) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}