{% extends 'base.html.twig' %}

{% block title %}
	{{"messages.eskakizuna" | trans | capitalize}}
	{{"messages.berria" | trans | capitalize}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('eskakizuna_edit') }}
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<!--Google Maps-->
	{% set gmapAsset = 'https://maps.googleapis.com/maps/api/js?key='~googleMapsApiKey %}
	<script type="text/javascript" src="{{ asset(gmapAsset) }}"></script>
	{{ encore_entry_script_tags('eskakizuna_edit') }}
{% endblock javascripts %}


{% block body %}
	<div class="container-fluid margin-top-13">
		{{ include('eskakizuna/_form.html.twig',{
				'gordeBotoia': true 
			    }) }}
	</div>
{% endblock %}
