{% extends 'base.html.twig' %}

{% block title %}
	{{"messages.eskakizuna" | trans | capitalize}}
	{{"messages.berria" | trans | capitalize}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('eskakizuna_edit') }}
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<!--Google Maps-->
	{% set gmapAsset = 'https://maps.googleapis.com/maps/api/js?key='~googleMapsApiKey %}
	<script type="text/javascript" src="{{ asset(gmapAsset) }}" async="async" defer="defer"></script>
	{{ encore_entry_script_tags('eskakizuna_edit') }}
{% endblock javascripts %}

{% block body %}
	<div class="container-fluid margin-top-13">
		{{ include('eskakizuna/_form.html.twig',{
				'gordeBotoia': true 
			    }) }}
	</div>
{% endblock %}

{# {% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bower_components/tinymce/tinymce.js') }}"></script>
<!--Google Maps-->
{% set gmapAsset = 'https://maps.googleapis.com/maps/api/js?key='~googleMapsApiKey %}
<script type="text/javascript" src="{{ asset(gmapAsset) }}"></script>
<script type="text/javascript" src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bower_components/sweetalert2/dist/sweetalert2.min.js') }}"></script>
{% if app.request.locale == 'es' %}
	<script type="text/javascript" src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script>
{% else %}
	<script type="text/javascript" src="{{ asset('js/locales/bootstrap-datetimepicker.eu.js') }}"></script>
{% endif %}

<script type="text/javascript" src="{{ asset('js/eskakizunak/eskakizuna.js') }}"></script>
<script type="text/javascript" language="javascript">
</script>
{% endblock%} #}
